/* TODO: Create styles */
/* TODO: Check accessibility */
.bold-input {
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    box-shadow: 3px 3px 1px lightgrey;
    /* margin: 1em;
    padding: 1em; */
  }

.grid {
    --column-count: 1;
    display: grid;
    /* gap: 2em; */
    background: white;
    grid-template-columns: repeat(var(--column-count), 1fr);
    align-items: center;
  }
  
  .card {
  /* TODO: Need a card style for the label and input? */
    grid-template-columns: 1fr, 2fr;
  }

  .input-label {
    padding: 1em;
  }

  /* TODO: Test responsiveness - is px the best way to do this? */
  /* @media (width > 600px) {
    .grid {--column-count: 2; }
  }

  @media (width > 900px) {
    .grid {--column-count: 2; }
  } */