/* TODO - reset css styles and then cascade custom css styles on top */
@import './reset.css';

/* Do not set a fixed font-size on a :root, body nor html level */
/* Let your main text size be decided by the browser or the user settings */

/* Defining custom properties at the top level so that it can be applied globally
across document is best practice */

/* NOTE: For WCAG AA - ensure a contrast of 4.5:1 minimum */

html {
  --main-color: #046B99;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 100%; */
    /* unneccesary - This is done in reset.css */
  
    /* Pixel to em calc */
  --font-size: calc((var(--pixels)/16) * 1em);
  line-height: 1.5;
  /* TODO: Ensure colours are web safe! */
  color: #fff;
  background-color: var(--main-color);
  /* background: linear-gradient(45deg, red, blue); */
}

/* Separates the CSS .h1 style from the h1 semantic HTML heading 
    we can then use this style without affecting the semantic meaning */
h1,
.h1-style {
  /* Below doesn't appear to work */
  /* --pixels: 48; */
  /* Equates to 48px */
  /* font-size: var(--font-size); */
  /* with default font size @ 100% this should be 4 x 16 px = 64px */
  font-size: 4em;
    
}

h2,
.h2-style {
  /* Below doesn't appear to work */
  /* --pixels: 36; */
  /*Equals to 36px */
  /* font-size: var(--font-size); */

  /* with default font size @ 100% this should be 2 x 16px = 32px */
  font-size: 2rem;
}

h3,
.h3-style {

  /* with default font size @ 100% this should be 1.5 x 16px = 36px */
  font-size: 1.5rem;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */
/* a:hover {
  color: #535bf2;
}

*/