  /* Do not set a font-size on a :root, body nor html level */
  /* Let your main text size be decided by the browser or the user settings */

:root {
  /* Previous styles */
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */

  color: #fff;
  background-color: #046B99;
  /* background: linear-gradient(45deg, red, blue); */
 
}


/* Defining custom properties at the top level so that it can be applied globally
across document is best practice */

/* Pixel to rem calc */
* { 
  --font-size: calc((var(--pixels)/16) * 1rem);
  font-size: var(--font-size); /* To use on an HTML element */
  line-height: 1.5; 
  /* background: linear-gradient(#e66465 #9198e5); */
}

h1 {
  --pixels: 48; /* Equals to 48px */
  font-size: var(--font-size);
}


h2 {
  --pixels: 24; /* Equals to 24px */
  font-size: var(--font-size);
}



/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
} */
/* a:hover {
  color: #535bf2;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
